extends ../base.pug

block content
    div.main__wrapper
        h2.title #{pageTitle}
        div#videoContainer
            video#preview
        button#actionBtn.normalBtn Start Recording
        a(href="./upload") 동영상 업로드
    if errorMessage
        div.errorBox__wrapper
            div.errorBox 
                span.errorMsg=errorMessage
                span.closeBtn ❌

block scripts
    script(src="/static/js/recorder.js")