header {
  height: 120px;
  padding: 0px 50px;
  border-bottom: 1px solid $border;
  display: flex;
  align-items: center;
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .search__form {
      display: flex;
      align-items: center;
      background: $back;
      padding: 10px 15px 10px 20px;
      border-radius: 20px;
      border: 1px solid $border;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      input {
        font-size: 18px;
        border: none;
        background: none;
        &:focus {
          outline: none;
        }
      }
      button {
        background: none;
        border: none;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        display: flex;
        a {
          > span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 15px;
            transition: 0.2s all ease-out;
            .menu-name {
              opacity: 0;
              transition: 0.2s all ease-out;
              position: absolute;
              font-size: 14px;
              width: 100px;
              text-align: center;
              top: 43px;
              left: -50%;
            }
            &:hover {
              .menu-name {
                opacity: 1;
              }
            }
          } //end span
        }
      }
      .user__info {
        margin-left: 20px;
        .user__innerNav {
          visibility: hidden;
          opacity: 0;
          display: flex;
          position: absolute;
          top: 100px;
          right: 50px;
          flex-direction: column;
          transition: 0.3s all ease-out;
          border: 1px solid $border;
          padding: 5px 10px;
          background: $back;
          border-radius: 25px 0 25px 25px;
          font-size: 16px;
          li {
            margin: 0;
            text-align: center;
            width: 110px;
            border-bottom: 1px solid $border;
            background: none;
            a {
              padding: 15px 0;
              width: 100%;
            }
            &:last-child {
              border: 0;
            }
          }
        }
        &:hover .user__innerNav {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
}
