#videoContainer {
  position: relative;
  width: 700px;
  cursor: unset;
  user-select: none;
  display: flex;
  justify-content: center;
  border-radius: 35px;
  overflow: hidden;
  margin: 0 auto;
  video {
    width: 100%;
  }
  #videoControls {
    opacity: 0;
    transition: 0.3s all ease-out;
    color: #fff;
    span,
    .material-icons {
      margin-left: 5px;
      transition: 0.2s all ease-in-out;
      &:hover {
        color: #999;
      }
    }
    &.showing {
      opacity: 1;
    }
  }
}

#videoControls__playBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#videoControls__items {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 25px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 999fr 1fr 1fr;
  color: #fff;
}
#videoControls__items > div {
  display: flex;
  height: 30px;
  align-items: center;
}
#videoControls__items #timeBar {
  width: 100%;
  margin: 0 10px;
}
#videoControls__items #volume {
  padding: 0 10px;
  position: relative;
}
#videoControls__items #volume:hover #volumeBar,
#videoControls__items #volume #volumeBar.showing {
  visibility: visible;
  opacity: 1;
}
#videoControls__items #volume #volumeBar {
  position: absolute;
  bottom: 40px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-out;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(-90deg);
  width: 100px;
  left: -30px;
  bottom: 80px;
}

.videoControls__owner {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 25px;
}

.video__data {
  margin-top: 25px;
  .video__info {
    .video__title {
      font-size: 28px;
    }
    .video__spec {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      align-items: center;
      .video__description {
        &::after {
          content: "∙";
        }
      }
    }
  }
  .owner__info {
    border-top: 1px solid $border;
    margin-top: 10px;
    padding-top: 15px;
    // border-bottom: 1px solid $border;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      .avatar {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}

.video__add-comments {
  margin-top: 25px;
  .textbox__comment-form {
    display: flex;
    flex-direction: row;
    textarea {
      width: 100%;
      border: 0;
      border-radius: 0;
      resize: none;
      &:focus {
        border-bottom: 1px solid $border;
        outline: 0;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .username {
      display: none;
    }
  }
}
.video__comments {
  display: flex;
  width: 100%;
  margin-top: 25px;
  ul {
    width: 100%;
    li {
      margin-bottom: 20px;
    }
    a {
      margin-right: 10px;
    }
    .video__comment {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      transition: 0.2s all ease-in-out;
      .comment__username {
        margin-bottom: 5px;
        font-weight: bold;
      }
      .avatar {
        width: 40px;
        height: 40px;
      }
      .delete__comment {
        position: absolute;
        right: 0;
        opacity: 0;
        visibility: hidden;

        transition: 0.2s all ease-in-out;
      }
      &:hover {
        .delete__comment {
          visibility: visible;
          opacity: 1;
        }
        background: linear-gradient(
          90deg,
          #fff 0%,
          $back 35%,
          $back 65%,
          #fff 100%
        );
      }
    }
  }
}
